.dashboard{
    padding: 50px 30px;
    display: flex;

    &-contacts{
        display: grid;
        grid-template-columns: min-content min-content max-content;
        gap: 30px;
        width: 70%;
    }
    
    &-view{
        width: 30%;
        border: 1px solid #52B69A;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 5px 5px 15px -4px #52B69A;
    }
}   

h2{
    margin: 30px;
    color: #34A0A4;

}