.dashboard{
    padding: 50px 30px;
    display: flex;

    &-contacts{
        display: grid;
        grid-template-columns: min-content min-content max-content;
        gap: 30px;
        width: 70%;
    }
    
    &-view{
        width: 30%;
    }
}   

h2{
    margin: 30px;
    color: #34A0A4;

}