/* You can add global styles to this file, and also import other style files */

// Defaults colors 
// primary-color: #76c893;
// secondry-color:#52B69A;
// tertiary-color: #34A0A4;
// senary-color: #168AAD;


// Default Fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Pacifico&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:'Comfortaa', sans-serif;
}