<div class="add">
    <h3>Add your Contact</h3>
    <form>
       <div class="form-element">
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName">
       </div>
       <div class="form-element">
            <label for="firstName">Last Name:</label>
            <input type="text" name="lastName">
        </div>
        <div class="form-element">
            <label for="firstName">Email:</label>
            <input type="text" name="firstName">
        </div>
        <div class="form-element">
            <label for="firstName">Contact Number:</label>
            <input type="text" name="contactNo">
        </div>
        <button> Save</button>
    </form> 
</div>